.bartenderpicture{
	background: url(http://bimgs.plmeizi.com/images/bing/2017/LeuchtturmWarnemuende_ZH-CN8673593712_1920x1080.jpg);
	background-size:100% 100%;
	background-repeat:no-repeat;
	background-origin:content-box;
}

h1{
	font-family: Kaushan Script;
	font-size: 30;
	color: grey;
	margin-top: 4px
}

.top{
	font-size:20;
	color: white;
	margin-top: 8px;
}

.signature{
	font-family: times;
	font-size:80;
	color: rgb(190,189,204);
	margin-top: 80px;
}

.more{
	font-family: times;
	font-size:40;
	color: white;
	margin-top: 40px;
	height: 180;
}

.row1{
	height: 180;
}

.row2{
	height: 180;
}